<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.blueberry.ui.views">
    <view id="org.mitk.views.opticalpositioningaccuracy"
          name="Optical Positioning Accuracy"
          class="QmitkOpitcalPositionView"
          category="AccuracyTest"
          icon="resources/ExampleIcon.svg" />
  </extension>
</plugin>
