<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.blueberry.ui.editors">
    <editor
          id="org.mitk.lancet.roboticsregistrations.editor"
          name="RoboticsRegistrationsEditor"
          icon="resources/icon.xpm"
          extensions="mitk" default="true"
          class="QRoboticsRegistrationsEditor">
    </editor>
  </extension>
</plugin>
